body {
    padding: 0;
    margin: 0; 
    height: 100vh; 
    display: flex; 
    font-family: sans-serif;
}

/* form, #info {
    display: flex;
    flex-direction: column;
    margin: 20px;
    padding: 10px;
    border: 2px solid black;
} */

#search {
    height: 25px;
    width: 330px;
}

ul {
    margin:0;
    padding: 0;
}

#sdiv {
    margin-top: 10px;
    margin-left: 10px;
}

#school {
    font-size: 20px;
}

#programs {
    padding: 10px;
}

#form, #leaflet {
    margin: 0;
    flex-grow: 1;
}
